
/* remove padding from fluid containers */
.container-fluid {
  padding-right:0;
  padding-left:0;
  margin-right:auto;
  margin-left:auto
}

#name {
  color: whitesmoke;
}

.body {
  height: 100vh;
  width: 100%;
}
.App {
  text-align: center;
}