.body {
    justify-content: center;
    background-color: #303030;
    /* border: darkgray 2px groove; */
    overflow: auto;
    text-align: center;
    color: white;
    font-size: 20px;
}


#me {
    border-radius: 50%;
    /* display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto; */
    max-width: 300px;
    max-height: 300px;
}

.icon {
    border-radius:50%;
    max-width: 125px;
    max-height: 125px;
}
